.Tour {
  width: 250px;
  height: 180px;
  margin: 7.5px 0 7.5px 30px;
  border: 1px solid #c4c4c4;

}

.Image {
  height: 75%;
  width: 100%;
  object-fit: cover;
}


.Title {
  width: 100%;
  height: 25%;
  text-align: start;
  padding: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.Tour:hover {
  border: 1px solid black;
}




@media only screen and (max-width: 860px) {
  .Tour {
    flex-direction: row-reverse;
    width: 320px;
    height: 150px;
    margin: 7px 0;
  }

  .Image {
    height: 100%;
    width: 50%;
  }

  .Title {
    width: 50%;
    height: 100%;
  }
}